<script src="https://cdn.rawgit.com/oscarmarinmiro/aframe-stereo-component/v0.3.1/dist/aframe-stereo-component.min.js"></script>
<a-scene fog="type: exponential; color: skyblue; density: 0.025">
  <a-assets>
    <a-asset id="bird-obj" src="assets/bird.obj.txt"></a-asset>
    <a-asset id="bird-mtl" src="assets/bird.mtl.txt"></a-asset>
    <img id="floor-texture" src="assets/Grass1.jpg">
  </a-assets> 
  <a-sky color="skyblue">
  </a-sky>
  <a-entity id="#rig" [attr.position]="{x: me.x + 1.4, y: 2.5, z: me.z} | aframe">
    <a-camera  look-controls wasd-controls
      rotation-listener (rotationChanged)="onRotationChanged($event.detail)"
      position-listener (positionChanged)="onPositionChanged($event.detail)">
      <a-cursor cursor="fuse: true; fuseTimeout: 500"></a-cursor>
      <a-entity  text-controls position="1 5 -10"  [attr.text]="textValue"></a-entity>
      <a-entity  text-controls position="8 5 -10"  [attr.text]="textValueLives"></a-entity>
    </a-camera>
  </a-entity>
  <a-obj-model  scale="1 1 1"
            *ngFor="let user of users;trackBy: userId" 
            src="#bird-obj" 
            mtl="#bird-mtl"
            (click)="clickEvent(user)"
            [attr.visible]="!user.me"
            [attr.position]="{x: user.x, y: 1.6, z: user.z} | aframe" 
            [attr.rotation]="{x: user.rotationX, y: user.rotationY, z: 0} | aframe" >
            <!-- <a-entity position="6 1.4 6" [attr.text]="user.name"></a-entity> -->
            <!-- <a-entity rotation="0 90 0" position="1 1.4 0" [attr.text]="user.name"></a-entity> -->
            
            <a-sphere hover-text position="1.4 1.3 -1" [attr.color]="user.color" radius="0.2"></a-sphere>
            
          </a-obj-model>

   <a-plane material=" src:#floor-texture; repeat: 10 10"
     rotation="-90 0 0" width="300" height="300"></a-plane>
  
    <a-cylinder  *ngFor="let mat of placeMats" 
                (click)="moveMe(mat)" 
                [attr.position]="{x: mat.x, y: 0.1, z: mat.z} | aframe" 
                radius="0.3" height="0.1" 
                color="#FFC65D" 
              >
    </a-cylinder> 

    
</a-scene> 
 


