 
<div class="mainc">
  <h1>You Died...</h1>
  <h2>Score: {{score}}</h2>
  <input  class="inputc" [(ngModel)]="hero" placeholder="Awesome Player">
  <div>
  <a class="button" (click)="startGame()" >Start Game!</a>
  </div>
  </div>