 
<div class="mainc">
<!-- <h1>Awesome VR Game</h1> -->
<input  class="inputc" [(ngModel)]="hero" placeholder="Awesome Player">
<div>
<a class="button" (click)="startGame()" >Start Game!</a>
</div>
</div>